<header>
    <div>
        <a href="">
            <img src="../assets/logo.png" alt="logo_blog_viajes" width="30px">
        </a>
        <a href="" class="header-link flag-link">
            <span id="country-name"></span>
        </a>
    </div>
    <nav>
        <a href="" class="header-link">Coches de alquiler</a> |
        <a href="" class="header-link">Lugares</a> |
        <a href="" class="header-link">Vuelos</a> |
        <a href="" class="header-link">Hoteles</a>
    </nav>
</header>
