<header>
    <nav>
        <a href="../../index.html" class="header-link logo-link">
            <img src="../../assets/logo.png" alt="logo_blog_viajes" width="30px">
        </a>
        <a href="" class="header-link flag-link">
            <span id="country-name">Alemania</span>
        </a>
    
        <a href="coches.html" class="header-link">Coches de alquiler</a> |
        <a href="lugares.html" class="header-link">Lugares</a> |
        <a href="vuelos.html" class="header-link">Vuelos</a> |
        <a href="hoteles.html" class="header-link">Hoteles</a>
    </nav>
</header>
