.header-link {
    text-decoration: none;
    color: black;
}

.header-link:hover {
    color: red;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

header > div {
    display: flex;
    align-items: center;
}

.flag {
    width: 30px;
    height: 20px;
}

main {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 60px;
}